SUPABASE_URL="https://ikvfprvvixhwqqqnmubs.supabase.co"
SUPABASE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlrdmZwcnZ2aXhod3FxcW5tdWJzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTE3OTUwNzksImV4cCI6MjA2NzM3MTA3OX0.aXb5XNnuuF0TPptK_2d9kyrM1PiNg_SUWRDnndia038"